/* Fix weird behavior
-------------------------------------------------------------------------------*/

/*
When using event delegation if the parent element has a click handler, when
the user touches anything inside this element, the whole region will gray 
out (on iOS 5.1), or flicker (on iOS 6). */

* {
  -webkit-tap-highlight-color:transparent;
}




/* Article
-------------------------------------------------------------------------------*/

.article {
  height: 100%;
}


/* Surface specific styles */
.content-node {

}

.hidden {
  display: none;
}

.content-node .content {
  margin: 0px;
  background: white;
}

/* Main content panel 
======================================================================= */

.article .document {
  line-height: 28.5px;
  /*font-size: 16px;*/
  position: relative;
  float: left;
  overflow: hidden;
  height: 100%;
  width: 50%;
  border-right: 1px solid #ddd;
}

.article .document .surface.content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

  /*overflow: auto;*/
  -webkit-overflow-scrolling: touch;
}

.article .document .surface.content .nodes {
  min-height: 100%;
  padding-left: 40px;
  padding-right: 0px;
  background: #FFFFFF;
}




/* Back Navigation 
=======================================================================*/



/* Context Toggles 
=======================================================================*/

/* Switcher */

/*.article .medial-strip {
  overflow: hidden;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -18px; 

  top: 0px;
  bottom: 0px;
  background: #fff;
  z-index: 3000;
}*/

.article .medial-strip {
  width: 40px;
  position: absolute;
  left: -18px;
  top: 0px;
  bottom: 0px;
  background: #fff;
  z-index: 3000;
}


.article .back-nav {
  display: block;
  overflow: hidden;
  width: 40px;
  position: absolute;
  top: 20px;
  z-index: 5000;
  font-size: 22px;
  background: #fff;
  color: #aaa;
  padding: 10px 10px;
}


.article .back-nav:hover {
  color: #333;
}


.article .medial-strip .separator-line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 20px;
  width: 1px;
  background: #ddd;
  z-index: 4000;
}

.article .context-toggles {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  
  background: #fff;
  z-index: 5000;
}


.article .context-toggles .context-toggle {
  cursor: pointer;
  display: block;
  z-index: 5000;
  padding: 0 10px;
  line-height: 40px;
  font-size: 22px;
  color: #aaa;
}

.article .context-toggles .context-toggle i {

}

.article .context-toggles .context-toggle span {
  display: none;
}

.article .context-toggles .context-toggle:hover {
  color: #555;
}

/*Active states depend on the global reader context */

/*.article .context-toggles .context-toggle.figures:hover {
  color: rgba(145, 187, 4, 1);
}

.article .context-toggles .context-toggle.citations:hover {
  color: rgba(11, 157, 217, 1);
}
*/


.article.figures .context-toggles .context-toggle.figures {
  color: #111; 
}

.article.citations .context-toggles .context-toggle.citations {
  /*color: rgba(11, 157, 217, 1);*/
  color: #111; 
}

.article.toc .context-toggles .context-toggle.toc {
  color: #111;
}

.article.info .context-toggles .context-toggle.info {
  color: #111;
}


/* Resources Panel 
======================================================================= */

.article .delete-resource {
  display: none;
}

.article .resources {
  float: right;
  line-height: 25px;
  width: 50%;
  
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  /*overflow: auto;*/
}

/*.article .resources .surface {
  padding-top: 80px;
}*/

.article .nodes {
  padding-left: 50px;
  padding-right: 50px;
}

.article .resources .nodes {
  padding-left: 40px;
  padding-right: 40px;
}

.article .resources .nodes > .content-node {
  color: #505050;
  position: relative;
  background: #fff;

  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.article .resources .content-node .resource-header:hover {
  background: rgba(0,0,0,0.15);
}

/* Clickable header */
.article .resources .content-node .resource-header {
  min-height: 80px;
  position: relative;
  background: rgba(0,0,0,0.1);
}


/* Shared styles for selected and mouseover states
----------------------------------------------------------------------- */

/* Active resource */
.article .resources .content-node.active .resource-header .name {
  color: #fff;
}

/* active figure */
.article .resources .figures .content-node.active {
  /*border-color: rgba(145, 187, 4, 1);*/
}

.article .resources .figures .content-node.active .resource-header {
  background: rgba(145, 187, 4, 1);
}

.article .resources .figures .content-node.active .resource-header a {
  /*color: rgba(145, 187, 4, 1);*/
}


/* active citation */

.article .resources .citations .content-node.active {
  /*border-color: rgba(11, 157, 217, 1);*/
}

.article .resources .citations .content-node.active .resource-header {
  background: rgba(11, 157, 217, 1);
}

.article .resources .citations .content-node.active .resource-header a {
  /*color: rgba(11, 157, 217, 1);*/
}

/* active person */
.article .resources .info .content-node.active {
  /*border-color: #5c6570;*/
}

.article .resources .info .content-node.active .resource-header {
  border-color: #5c6570;
}

.article .resources .info .content-node.active .resource-header a {
  /*color: #5c6570;*/
}


/* Figures View
----------------------------------------------------------------------- */

.article .resources .surface.figures {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
}

.article.figures .resources .resource-view.figures {
  display: block;
}

.substance-article .content-node .toggle-resource {
  cursor: pointer;
}

/* Citations View
----------------------------------------------------------------------- */

.article .resources .surface.citations {
  font-size: 14px;

  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.article.citations .resources .resource-view.citations {
  display: block;
}

/* TOC View
----------------------------------------------------------------------- */

.resource-view.toc {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50px;
  right: 0px;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 60px;
}

.article.toc .resources .resource-view.toc {
  display: block;
}


/* Info View
----------------------------------------------------------------------- */

.article .resources .surface.info {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.article.info .resources .resource-view.info {
  display: block;
}


/* Resource Fullscreen Mode 
======================================================================= */


/* Styles for fullscreen toggle on resource cards */

.article .resources .content-node .resource-header .toggle-fullscreen {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 30px;
  bottom: 0px;
  text-align: center;
  line-height: 81px;
  color: rgba(0,0,0, 0.2);
  width: 81px;
}

.article .resources .content-node .resource-header .toggle-fullscreen:hover {
  color: rgba(0,0,0, 0.5);
}

/* Active state adjustments */

.article .resources .content-node.active .resource-header .toggle-fullscreen {
  color: rgba(255,255,255, 0.5);
}

.article .resources .content-node.active .resource-header .toggle-fullscreen:hover {
  color: rgba(255,255,255, 1);
}


/* Hide resize small icon by default */
#container .article .content-node .icon-resize-small {
  display: none;
}

#container .article .content-node.fullscreen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100000;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 0px;
}

#container .article .content-node.fullscreen .icon-resize-small {
  display: inline;
}

#container .article .content-node.fullscreen .icon-resize-full {
  display: none;
}

#container .article .content-node.fullscreen > .content {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

/* Info panel overrides 
----------------------------------------------------------------------- */


#container .article .surface.info .content-node.caption .content {
  padding: 20px;
}

/* Annotations 
----------------------------------------------------------------------- */

.article span.annotation {
}

/* Figure Reference */

.content-node .figure_reference { 
  padding: 0 2px;
  cursor: pointer; 
}
.content-node .citation_reference { cursor: pointer; }
.content-node .cross_reference { cursor: pointer; }

/* Reader-specific overrides for content nodes
======================================================================= */

/* For the main content area 
----------------------------------------------------------------------- */

.surface.content .nodes > .content-node {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 50px;
  word-wrap: break-word;
}

/* Some extra cover spacing */
.surface.content .nodes > .content-node.cover {
  padding-top: 20px;
}

.substance-article .content-node.cover .content .authors .toggle-author.active {
  background: rgba(0,0,0,0.7);
  color: rgba(255,255,255, 1);
}



/* For the resources panel
----------------------------------------------------------------------- */

.content-node {

}

/* Wraps all resource details */
.resources .content-node .resource-body {
  padding: 20px;
  overflow: auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* padding for the content */
.resources .nodes > .content-node > .content {
  /*padding: 20px;*/
}

/* Contributor View*/

.resources .content-node.contributor .name .content {
  background: rgba(0,0,0,0.1);
  padding: 20px;
  font-weight: 600;
  /*font-size: 16px;*/
}

/* Active Style */

.resources .content-node.contributor.active .name .content {
  background: rgba(0,0,0,0.7);
  color: white;
}

/* Figure View */

.resources .content-node.figure .label .content {
  background: rgba(0,0,0,0.1);
  padding: 20px;
  font-weight: 600;
  /*font-size: 16px;*/
}

.content-node.figure.active .label .content,
.focus-panel .content-node.figure .label .content {
  background: rgba(145, 187, 4, 1);
  color: white;
}


/* For the resources panel */
.resources .info .nodes > .content-node.paragraph > .content > .content-node {
  padding: 20px 0;
}

.article .document .surface.content::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.article .document .surface.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}


/* Disable native scrollbar for resources except TOC */

.article .resources .surface.figures::-webkit-scrollbar,
.article .resources .surface.citations::-webkit-scrollbar,
.article .resources .surface.info::-webkit-scrollbar {
  width: 2px;
  height: 2px; 
}

.article .resources .surface.figures::-webkit-scrollbar-thumb,
.article .resources .surface.citations::-webkit-scrollbar-thumb,
.article .resources .surface.info::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}


/* Resources Outline */
/* ---------------------------------------*/

.resources .lens-outline {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: 0px;
  width: 30px;
}

#container.touchable .resources .lens-outline {
  right: 5px;
}

/* Responsiveness */
/* ---------------------------------------*/


/* Hide fullscreen toggle for small screens */
#container.touchable .toggle-fullscreen {
  display: none;
}

#container.touchable .article .document .surface.content {
  right: 20px;
}


/* Only hide for IOS devices because of scrolling issues! */
#container.touchable.ios .lens-outline .visible-area {
  display: none;
}

#container.touchable .lens-outline .node:hover {
  opacity: 0.15;
}

#container.touchable .lens-outline .arrow {
  display: none;
}

.content-node.heading .top {
  display: none;
}

.surface.content .nodes .content-node.heading {
  padding-bottom: 0px;
}

.surface.content .nodes .content-node.heading.level-1 {
  /*padding-top: 20px;*/
}



@media (max-width: 1100px) {
  .article .content-node.cover .title {
    font-size: 28px;
  }

  .surface.content .nodes > .content-node {
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
  }
}


/* Mobile (iPad Portrait, iPhone) */
@media (max-width: 850px) {



  .content-node.heading .top {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 10px;
  }

  html body.reader {
    height: auto;
    overflow: visible;
    position: relative;
  }

  /* Hide fullscreen toggle for small screens */
  #container .toggle-fullscreen {
    display: none;
  }

  /* Reset back */
  #container.touchable .article .document .surface.content {
    right: 0px;
  }

  .surface.content .nodes > .content-node {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
  }

  .article .document .surface.content .nodes {
    padding-left: 40px;
  }

  .article .document {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    padding-top: 80px;
    border-right: none;
  }


  .article .document .surface.content {
    position: absolute;
    position: relative;
    overflow: visible;
  }

  .article .resources .surface.resource-view {
    position: absolute;
    position: relative;
    overflow: visible;
  }

  .article.toc .document {
    z-index: 200;
  }

  #container .article .resources {
    background: #fff;
    position: relative;
    width: 100%;
    height: auto;

    padding-left: 0px;
    padding-right: 0px;

    z-index: 300;
    word-wrap: break-word;
  }

  #container .article .resources .surface {
    padding-top: 80px;
  }

  #container .article .resources .nodes {
    padding: 0px 20px;
  }

  .article .document .surface.content .nodes {
    padding-left: 0;
  }

  #container .article .resources .resource-view {
    display: none;
  }

  #container .article.figures .resources .resource-view.figures {
    display: block;
    z-index: 200;
  }

  /* Hide document when in resource mode */
  #container .article.figures .document,
  #container .article.citations .document,
  #container .article.info .document
  {
    display: none;
  }

  #container .article.info .resources .resource-view.info {
    display: block;
    z-index: 200;
  }

  #container .article.citations .resources .resource-view.citations {
    display: block;
    z-index: 200;
  }

  .article .medial-strip {
    background: #252525;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: auto;
    margin-left: 0px;
    height: 60px;
    width: auto;
  }

  .article .medial-strip .context-toggles {
    background: #151515;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
  }

  .article .medial-strip .context-toggles .context-toggle {
    float: left;
    width: 70px;
    padding: 0px 5px;
    padding-top: 7px;
    text-align: center;
    line-height: 24px;
    color: rgba(255,255,255, 0.3);
  }

  .article .medial-strip .context-toggles .context-toggle:hover {
    color: rgba(255,255,255,0.8);
  }

  .article .medial-strip .context-toggles .context-toggle span {
    display: block;
    font-size: 13px;
  }

  .article.toc .context-toggles .context-toggle.toc {
    color: rgba(255,255,255,1);
  }

  .article.figures .context-toggles .context-toggle.figures {
    color: rgba(255,255,255,1);
  }

  .article.citations .context-toggles .context-toggle.citations {
    color: rgba(255,255,255,1);
  }

  .article.info .context-toggles .context-toggle.info {
    color: rgba(255,255,255,1);
  }

  .article .medial-strip .back-nav {
    display: none;
  }

  .article .lens-outline {
    display: none;
  }
}
